<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067358140411-9nii8bq73qaiiphucmr9s2pkm574qgn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067358140411-9nii8bq73qaiiphucmr9s2pkm574qgn1</string>
	<key>API_KEY</key>
	<string>AIzaSyDdNExZWHhmHbYMLzjhTcmvcZjwZhThFZw</string>
	<key>GCM_SENDER_ID</key>
	<string>1067358140411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bubbl</string>
	<key>PROJECT_ID</key>
	<string>bubbl-24c2f</string>
	<key>STORAGE_BUCKET</key>
	<string>bubbl-24c2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067358140411:ios:a578d2c362cf9af2ef7d5e</string>
</dict>
</plist>